<nav class="header">
	<div class="header__item <%= "header__item--active" if controller_name == "pages" && action_name == "home" %>">
    <a href="/">
		<div class="header__item-content">
    <i class="fas fa-home navbar-logo <%= "navbar-logo--active" if controller_name == "pages" && action_name == "home" %>"></i>
			<%# <span>Accueil</span> %>
		</div>
    </a>
	</div>

	<div class="header__item <%= "header__item--active" if controller_name == "offers" && action_name == "index"%>">
		<div class="header__item-content">
    <a href="/offers">
    <i class="fas fa-heart navbar-logo <%= "navbar-logo--active" if controller_name == "offers" && action_name == "index"%>"></i>
		</div>
    </a>
	</div>
	<div class="header__item <%= "header__item--active" if controller_name == "events" && action_name == "index" %>">
    <a href="/events">
		<div class="header__item-content">
      <i class="fas fa-comment-dots navbar-logo"></i>
			<%# <span>Evenements</span> %>
		</div>
    </a>
	</div>
	<div class="header__item <%= "header__item--active" if controller_name == "registrations" && action_name == "edit" %>">
    <a href="/users/edit">
		<div class="header__item-content">
      <i class="fas fa-user-alt navbar-logo"></i>
        <%# <span>Profil</span> %>
      </div>
  </div>
  </a>
</div>
</nav>
